<div class="mt-4">
    <h3 style="text-align: center;">Danh sách sân bóng</h3>
    <form class="d-flex mb-4" style="float: right;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="margin-right: 12px;">Search</button>
    </form>
    <a class="btn btn-outline-success" href="/courses/create" style="margin-left: 12px">Thêm sân</a>
    <div style="margin-left: 12px; margin-right: 12px">
    <table class="table table-dark table-hover" >
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sân</th>
                <th scope="col">Giá thuê (VNĐ/h)</th>
                <th scope="col">Cập nhật lúc</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.updatedAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-success">Sửa</a>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#btn-confirm-delete">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>
{{!-- Confirm delete --}}
<div class="modal fade" id="btn-confirm-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cảnh báo!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa sân này?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-primary btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Form an dung de xoa --}}
<form name="delete-course-form" method="POST"></form>


{{!-- Sua loi $ is not recognized --}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  

{{!-- Script cho btn-delete-stadium --}}
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var courseId;
            var deleteForm = document.forms['delete-course-form']; 
            var btnDeleteCourse = document.getElementById('btn-delete-course');
            $('#btn-confirm-delete').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget);
                courseId = button.data('id');
            });
            btnDeleteCourse.onclick = function(){
                deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
                deleteForm.submit();
            }
        });

</script>